@import url("//unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css");
#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;
}
:root {
  --yellow: #ffc759;
  --pink: #ff7b9c;
  --darkblue: #607196;
  --lightblue: #babfd1;
  --white: #e8e9ed;
  --peach: #ffdab9;
  --apricot: #fbc4ab;
  --melon: #f8ad9d;
  --lightpink: #f4978e;
  --coral: #f08080;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  align-items: center;
}